<footer class="p-2 bg-body-tertiary">
    <div class="container-fluid">
        <div class="small text-center">
            PEX Frango Assado © <span data-js="currentYear"></span> | All rights reserved.</span>
        </div>
    </div>
</footer>
