---
import '@styles/main.css'
---
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- noindex -->
<meta name="robots" content="noindex">
<meta name="robots" content="nofollow">

<title>PEX Frango Assado</title>

<!-- Favicons -->
<link rel="icon" sizes="32x32" type="image/png" href="/assets/favicons/favicon-32x32.png">
<link rel="apple-touch-icon" href="/assets/favicons/apple-touch-icon.png" sizes="180x180">
<link rel="manifest" href="/assets/favicons/manifest.json">

<!-- Fonts -->
<!--
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,400;9..144,700&family=Livvic:wght@300;400;700&display=swap">
-->

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">

<!-- Icons -->
<link rel="stylesheet" href="/assets/icons/bootstrap/bootstrap-icons.min.css">

<!-- Bootstrap Css -->
<link rel="stylesheet" href="/assets/bootstrap/bootstrap.min.css">

<!-- Vendor CSS -->
<link rel="stylesheet" href="/assets/vendor/animista.css">
<link rel="stylesheet" href="/assets/vendor/dataTables/dataTables.bootstrap5.min.css">
<link rel="stylesheet" href="/assets/vendor/fancybox/fancybox.css">

<!-- App CSS -->
<!-- <link rel="stylesheet" href="/assets/css/main.css"> -->

<!-- Libs Js -->
<script type="module" src="/assets/libs/jquery.min.js"></script>

<!-- Bootstrap Js -->
<script type="module"src="/assets/bootstrap/bootstrap.bundle.min.js"></script>
<script type="module"src="/assets/bootstrap/bootstrap-color-mode.js"></script>

<!-- Vendor JS -->
<script type="module" src="/assets/vendor/dataTables/jquery.dataTables.min.js"></script>
<script type="module" src="/assets/vendor/dataTables/dataTables.bootstrap5.min.js"></script>
<script is:inline src="/assets/vendor/fancybox/fancybox.umd.js"></script>
<script type="module" src="/assets/vendor/jquery.floatThead.min.js"></script>

<!-- App JS -->
<script defer type="module" src="/assets/js/main.js"></script>



