---
import CardCardBodySectionTitle from '@componentsLayout/CardCardBodySectionTitle.astro'

---

<CardCardBodySectionTitle labelTitles = "Anexar Arquivos">
    <form>
        <div class="row">
            <label class="col-sm-9">
                <input type="file" name="" class="form-control" multiple="">
            </label>

            <div class="col-sm-3">
                <div class="d-flex justify-content-end">
                    <button type="submit" class="btn btn-primary">Salvar</button>
                </div>
            </div>
        </div>
    </form>
</CardCardBodySectionTitle>
