---
---

<style>
    .aval-line-sub td{
        font-weight: bold;
        background-color: #eee;
    }
</style>

<div class="table-resposive">
    <table class="table table-bordered table-fixed small text-center">
        <thead>
            <th>Item</th>
            <th>Anexo</th>
            <th>Pontuação</th>
            <th>Peso</th>
            <th>Pontos</th>
        </thead>

        <tbody>
            <tr class="aval-line-sub">
                <td colspan="3" class="text-start">5 S</td>
                <td>9,0%</td>
                <td>9</td>
            </tr>

            <tr>
                <td>
                    <div class="d-flex align-items-center gap-1">
                        1 Conscientização de 5S - A loja atende ao programa de 5 S na sua totalidade

                        <div data-bs-toggle="tooltip" data-bs-title="O Check list do 5S está devidamente preenchido">
                            <i class="bi bi-info-circle icon-tab fs-6"></i>
                        </div>
                    </div>

                </td>
                <td></td>
                <td>
                    <ul class="list-unstyled mb-0">
                        <li>3. A Operação está garantindo 100% do item.</li>
                        <li>1. A Operação está garantindo parcialmente o item.</li>
                        <li>0. A Operação NÃO garante o item.</li>
                    </ul>
                </td>
                <td>5,0%</td>
                <td>5</td>
            </tr>
        </tbody>
    </table>
</div>
