---
---

<style>
    .aval-line-sub td{
        font-weight: bold;
        background-color: #eee;
    }
</style>

<div class="table-responsive">
    <table class="table table-bordered table-fixed small text-center">
        <thead>
            <th style="width: 300px">Item</th>
            <th style="width: 070px">Anexo</th>
            <th style="width: 250px">Pontuação</th>
            <th style="width: 070px">Peso</th>
            <th style="width: 070px">Pontos</th>
            <th style="width: 110px">Pontos Alcançado</th>
        </thead>

        <tbody>
            <tr class="aval-line-sub">
                <td colspan="3" class="text-start">5 S</td>
                <td>9,0%</td>
                <td>9</td>
                <td></td>
            </tr>

            <tr>
                <td>
                    <div class="d-flex align-items-center gap-1">
                        1 Conscientização de 5S - A loja atende ao programa de 5 S na sua totalidade

                        <div data-bs-toggle="tooltip" data-bs-title="O Check list do 5S está devidamente preenchido">
                            <i class="bi bi-info-circle-fill text-secondary icon-tab fs-6"></i>
                        </div>
                    </div>

                </td>

                <td>
                    <a
                        class="text-primary"
                        data-fancybox
                        data-type="iframe"
                        data-width="900"
                        data-height="600"
                        data-bs-toggle="tooltip"
                        data-bs-title="Anexar Arquivos"
                        href="./popups/anexo/">
                        <i class="bi bi-paperclip icon-tab fs-4"></i>
                    </a>
                </td>

                <td>
                    <ul class="list-unstyled mb-0">
                        <li>3. A Operação está garantindo 100% do item.</li>
                        <li>1. A Operação está garantindo parcialmente o item.</li>
                        <li>0. A Operação NÃO garante o item.</li>
                    </ul>
                </td>
                <td>5,0%</td>
                <td>5</td>

                <td>
                    <select name="" class="form-select text-center">
                        <option value=""></option>
                        <option value="3">3</option>
                        <option value="1">1</option>
                        <option value="0">0</option>
                    </select>
                </td>
            </tr>
        </tbody>
    </table>
</div>
