---
import CardCardBody from '@componentsLayout/CardCardBody.astro'
---
<CardCardBody>
    <div class="d-flex justify-content-center gap-2">
        <a
            class="btn btn-light btn-small border d-flex align-items-center gap-1"
            href="#"
            onclick="javascript:if (!confirm(' Atenção: Você tem certeza que deseja copiar a avaliação do mês anterior? \n Serão copiados também as fotos e arquivos anexados. \n\n Lembre-se: Os dados da avaliação atual será totalmente substituída pela avaliação do mês anterior. ')){return false;}"
        >
            <i class="bi bi-files"></i>
            <small>Copiar Avaliação Mês Anterior</small>
        </a>

        <a class="btn btn-light btn-small border d-flex align-items-center gap-1" href="#" download="">
            <i class="bi bi-journal-text"></i>
            <small>Book PDF</small>
        </a>
    </div>
</CardCardBody>
