---
import Layout from '@layouts/Layout.astro';
---

<Layout>
    <main data-el="main-app" class="main-app">

        <div class="container-fluid">

            <h1>Avaliação</h1>
        </div>
    </main>
</Layout>
