---
interface Props {
    col?: string;
}

const { col } = Astro.props;

const valuesSelect = [
    {
        value: "1",
        name: "Janeiro",
    },
    {
        value: "2",
        name: "Fevereiro",
    },
    {
        value: "3",
        name: "Março",
    },
    {
        value: "4",
        name: "Abril",
    },
    {
        value: "5",
        name: "Maio",
    },
    {
        value: "6",
        name: "Junho",
    },
    {
        value: "7",
        name: "Julho",
    },
    {
        value: "8",
        name: "Agosto",
    },
    {
        value: "9",
        name: "Setembro",
    },
    {
        value: "10",
        name: "Outubro",
    },
    {
        value: "11",
        name: "Novembro",
    },
    {
        value: "12",
        name: "Dezembro",
    },
];
---

<label class={col}>Mês:
    <select name="redional" id="" class="form-select" required>
        <option value=""></option>
        {
            valuesSelect.map(({ value, name }) => (
                <option value={value}>{name}</option>
            ))
        }
    </select>
</label>
