---
import Layout from '@layouts/Layout.astro';
import Header from '@includes/Header.astro';

import ContentSelecao from './_ContentSelecao.astro'

import ChartResultadoRegional from './_ChartResultadoRegional.astro';
import ChartCategoriaNacional from './_ChartCategoriaNacional.astro';
import ChartCategoriaRegional from './_ChartCategoriaRegional.astro';
import ChartResultadoUnidade from './_ChartResultadoUnidade.astro';
import ChartResultadoCategoriaUnidade from './_ChartResultadoCategoriaUnidade.astro';
---

<style is:inline>
    .box-chart {
        width: 100%;
    }

    .box-chart.boxResultadoRegional{ height: 350px;}
    .box-chart.boxCategoriaNacional{ height: 400px;}
    .box-chart.boxCategoriaRegional{ height: 400px;}
    .box-chart.boxResultadoCategoriaUnidade{ height: 400px}

    .title-chart{
        font-size: 1.3rem;
        text-align: center;
    }
</style>

<script is:inline src="/assets/vendor/amcharts4/core.js"></script>
<script is:inline src="/assets/vendor/amcharts4/charts.js"></script>
<script is:inline src="/assets/vendor/amcharts4/animated.js"></script>

<Layout>
    <header data-el="top-fixed" class="header-app navbar navbar-expand-xl">
        <Header />

    </header>

    <main data-el="main-app" class="main-app">
        <section class="container-fluid">
            <nav aria-label="breadcrumb" class="breadcrumb-app">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="/principal/"><i class="bi bi-house-fill"></i></a>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page">Dashboard</li>
                </ol>
            </nav>
        </section>

        <section class="container-fluid">
            <ContentSelecao />

            <div class="row">
                <div class="col-lg-12">
                    <ChartResultadoRegional />
                </div>

                <div class="col-lg-12">
                    <ChartResultadoUnidade />
                </div>

                <div class="col-lg-6">
                    <ChartCategoriaNacional />
                </div>

                <div class="col-lg-6">
                    <ChartCategoriaRegional />
                </div>

                <div class="col-lg-12">
                    <ChartResultadoCategoriaUnidade />
                </div>
            </div>
        </section>
    </main>
</Layout>
