---
import Layout from '@layouts/Layout.astro';
import Header from '@includes/Header.astro';

import CardCardBodySectionTitle from '@componentsLayout/CardCardBodySectionTitle.astro'
import CardCardBody from '@componentsLayout/CardCardBody.astro'

import SelectRegional from '@componentsForm/SelectRegional.astro'
import SelectUnidade from '@components/Form/SelectUnidade.astro'
import SelectMes from '@components/Form/SelectMes.astro'
import BtnOk from '@components/Form/BtnOk.astro'

---

<Layout>
    <header data-el="top-fixed" class="header-app navbar navbar-expand-xl">
        <Header />

    </header>

    <main data-el="main-app" class="main-app">
        <section class="container-fluid">
            <nav aria-label="breadcrumb" class="breadcrumb-app">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="/principal/"><i class="bi bi-house-fill"></i></a>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page">Dashboard</li>
                </ol>
            </nav>
        </section>

        <section class="container-fluid">
            <CardCardBodySectionTitle labelTitles = "Seleção">
                <section class="row">
                    <SelectRegional col="col-xl-2 col-lg-3 col-md-6 col-sm-12" />
                    <SelectUnidade col="col-xl-3 col-lg-5 col-md-6 col-sm-12" />
                    <SelectMes col="col-xl-2 col-lg-3 col-md-6 col-sm-6" />
                    <BtnOk
                        col="col-xl-2 col-lg-1 col-md-6 col-sm-6"
                        last="sm"
                        btnLast="lg"
                    />
                </section>
            </CardCardBodySectionTitle>


        </section>
    </main>
</Layout>
