---
import Layout from '@layouts/Layout.astro';
import Header from '@includes/Header.astro';
import BtnPrincipal from '@components/Btns/BtnPrincipal.astro';
---

<Layout>
    <header data-el="top-fixed" class="header-app navbar navbar-expand-xl">
        <Header />

    </header>

    <main data-el="main-app" class="main-app">
        <section class="container-fluid">
            <nav aria-label="breadcrumb" class="breadcrumb-app">
                <div class="d-flex align-items-center justify-content-between gap-1">
                    <ol class="breadcrumb mb-0">
                        <li class="breadcrumb-item">
                            <a href="/principal/"><i class="bi bi-house-fill"></i></a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">Relatórios</li>
                    </ol>

                    <BtnPrincipal />
                </div>
            </nav>
        </section>

        <section class="container-fluid">


        </section>
    </main>
</Layout>
