<section class="box-left">
    <div class="content-box-left ">
        <div class="logo-login">
            <img class="img-fluid puff-in-center" src="/assets/images/login/logo.png" alt="logo" />
        </div>

        <div class="fran-img">
            <img class="img-fluid slide-in-blurred-bottom" src="/assets/images/login/fran.png" alt="fran" />
        </div>
    </div>
</section>
