---
---

<a
    class="text-primary"
    data-fancybox
    data-type="iframe"
    data-width="900"
    data-height="600"
    data-bs-toggle="tooltip"
    data-bs-title="Anexar Arquivos"
    href="./popups/anexo/">
    <i class="bi bi-paperclip icon-tab fs-4"></i>
</a>
