---
---

<ul class="list-unstyled mb-0">
    <li>3. A Operação está garantindo 100% do item.</li>
    <li>1. A Operação está garantindo parcialmente o item.</li>
    <li>0. A Operação NÃO garante o item.</li>
</ul>
