/* @font-face {
    font-family: 'Banana Yeti';
    src: url('/assets/fonts/bananaYeti/BananaYeti-ExtraBold.woff2') format('woff2'),
         url('/assets/fonts/bananaYeti/BananaYeti-ExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
} */
